
<mat-card [ngClass]="{ 'main': true, 'assigned': assignee && assignee.assignmentStatus == assignmentStatus.Assigned}" [id]="placement.id"
    [style.top.px]="placement.coordinates.y" [style.left.px]="placement.coordinates.x" (drop)="drop_handler($event);" 
    (dragover)="dragover_handler($event);"
    (dragstart)="dragstart_handler($event);"
    (dragend)="dragend_handler($event);"
    [draggable]="true">
    <mat-card-content>
        <div>Assignee: <span *ngIf="assignee">{{ assignee.displayName }}</span><br />
            Location: <span *ngIf="placement">{{ placement.displayName }}</span><mat-icon class="smaller-icon" (click)="editSubVenueClick($event);" title="Edit">edit</mat-icon><br />
            <span [ngClass]="{'unqualified': !isQualified()}">Role: </span><span *ngIf="role">{{role.displayName}}</span></div>
    </mat-card-content>
<mat-card-actions>
    <mat-icon (click)="clearClick($event);" title="Clear Assignee/Role">replay</mat-icon>
    <mat-icon (click)="deleteClick($event);" title="Delete">remove_circle</mat-icon>
</mat-card-actions>

</mat-card>