/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.available {
    background-color: white;
}

.assigned {
    background-color:lightblue;
}

.unavailable {
    background-color: lightcoral;
}