<mat-list-item
    [ngClass]="{'default': true, 'available': staffMember.assignmentStatus == assignmentStatus.Available, 'assigned': staffMember.assignmentStatus == assignmentStatus.Assigned }" 
    role="listitem" id="{{staffMember.id}}"
    [draggable]="isDraggable()" (dragstart)="dragstart_handler($event)">{{ staffMember.displayName }}
    <mat-icon matTooltip="{{ staffMember.getCertShortList() }}" matTooltipPosition="right">
        {{staffMember.hasCertifications() ? 'turned_in' : 'turned_in_not'}}
    </mat-icon>
</mat-list-item>